
@{
    ViewBag.Title = "AllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<table class ="table table-bordered table-hover">
   
    <tbody>
        <tr>
            <th>Movie</th>
        </tr>

        @foreach (var item in ViewData["movies"] as List<Vidly.Models.Movie>)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
